<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StorageOmoError.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA26E9EF1BB86CCB008E7358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA26EA031BB86CCC008E7358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA26EA0E1BB86CCC008E7358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
